@model Sitio.Models.Dispositivo

@*Necesarios para utilizar la Session*@
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor

@using Sitio.Utility; @* Codigo para facilitar seleccion de Layout para Views *@

@{
    ViewBag.Title = "Agregar Dispositivo";

    var UsuarioLogueado = Accessor.HttpContext.Session.GetObjectFromJson<Usuario>("UsuarioLog");
    var sucursalesAsignadas = Accessor.HttpContext.Session.GetObjectFromJson<List<Sucursal>>("SucursalesDisponibles");

    Layout = LayoutForViewHelper.GetLayoutForView(UsuarioLogueado);
}



<h2 class="font-weight-bold mb-4">Agregar Dispositivo</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.IP, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IP, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        @*      <div class="form-group">
    @Html.LabelFor(model => model.Conectado, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
    <div class="col-md-10">
    @Html.EditorFor(model => model.Conectado, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Accesible, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Accesible, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>


        <div class="form-group">
            @Html.Label(null ,"Sucursales disponibles", htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })

            <div class="col-md-10">

                @Html.DropDownListFor(model => model.UbSucursal.NroSucursal, (SelectList)ViewBag.SucursalesDisp)

            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Sector, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sector, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

@*        <div class="form-group">
            @Html.LabelFor(model => model.Prioridad, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Prioridad, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Prioridad, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })

            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Prioridad, (SelectList)ViewBag.Prioridad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Permanencia, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Permanencia, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        @*        <div class="form-group">
    @Html.LabelFor(model => model.Ultimaconexion, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
    <div class="col-md-10">
    @Html.EditorFor(model => model.Ultimaconexion, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    </div>

    <div class="form-group">
    @Html.LabelFor(model => model.UltimaNotificacion, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
    <div class="col-md-10">
    @Html.EditorFor(model => model.UltimaNotificacion, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    </div>*@

        <hr class="pb-2 pt-2" />

        @if (!string.IsNullOrEmpty(@ViewBag.Mensaje))
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.Mensaje
            </div>
        }


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-center">
                <input type="submit" value="Agregar" class="btn btn-success" />
            </div>
        </div>

    </div>
}



<script src="~/js/estandar.js"></script>
