@model Sitio.Models.Dispositivo

@*Necesarios para utilizar la Session*@
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor
@using Sitio.Utility; @* Codigo para facilitar seleccion de Layout para Views *@

@{
    ViewBag.Title = "Visualizar Dispositivo";

    var UsuarioLogueado = Accessor.HttpContext.Session.GetObjectFromJson<Usuario>("UsuarioLog");

    Layout = LayoutForViewHelper.GetLayoutForView(UsuarioLogueado);
}



<h2 class="font-weight-bold mb-4">Visualizar Dispositivo</h2>



<div>

    <hr /> @*Separador ============================================================================================*@

    <div class="row mt-4">

        <div class="col-12 col-md-3 font-weight-bold mb-1 mb-md-0">
             @Html.DisplayNameFor(model => model.IP):
        </div>

        <div class="col-12 col-md-3">
             @Html.DisplayFor(model => model.IP)
        </div>

    </div>

    <div class="row mt-2">
        <div class="col-12 col-md-3 font-weight-bold mb-1 mb-md-0">
             @Html.DisplayNameFor(model => model.Nombre):
        </div>

        <div class="col-12 col-md-3">
             @Html.DisplayFor(model => model.Nombre)
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12 col-md-3 font-weight-bold mb-1 mb-md-0">
             @Html.DisplayNameFor(model => model.Tipo):
        </div>

        <div class="col-12 col-md-3">
             @Html.DisplayFor(model => model.Tipo)
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12 col-md-3 font-weight-bold mb-1 mb-md-0">
             @Html.DisplayNameFor(model => model.Conectado):
        </div>

        <div class="col-12 col-md-3">
             @Html.DisplayFor(model => model.Conectado)
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12 col-md-3 font-weight-bold mb-1 mb-md-0">
             @Html.DisplayNameFor(model => model.Accesible):
        </div>

        <div class="col-12 col-md-3">
             @Html.DisplayFor(model => model.Accesible)
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12 col-md-3 font-weight-bold mb-1 mb-md-0">
             @Html.DisplayNameFor(model => model.Sector):
        </div>

        <div class="col-12 col-md-3">
             @Html.DisplayFor(model => model.Sector)
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12 col-md-3 font-weight-bold mb-1 mb-md-0">
             @Html.DisplayNameFor(model => model.Prioridad):
        </div>

        <div class="col-12 col-md-3">
             @Html.DisplayFor(model => model.Prioridad)
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12 col-md-3 font-weight-bold mb-1 mb-md-0">
             @Html.DisplayNameFor(model => model.Permanencia):
        </div>

        <div class="col-12 col-md-3">
             @Html.DisplayFor(model => model.Permanencia)
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12 col-md-3 font-weight-bold mb-1 mb-md-0">
             @*@Html.DisplayNameFor(model => model.Ultimaconexion)*@
             Ultima conexion:
        </div>

        <div class="col-12 col-md-3">
             @Html.DisplayFor(model => model.Ultimaconexion)
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12 col-md-3 font-weight-bold mb-1 mb-md-0">
             @*@Html.DisplayNameFor(model => model.UltimaNotificacion)*@
             Ultima notificacion:
        </div>

        <div class="col-12 col-md-3">
             @Html.DisplayFor(model => model.UltimaNotificacion)
        </div>
    </div>




</div>



<script src="~/js/estandar.js"></script>

