@model Sitio.Models.Grupo

@*Necesarios para utilizar la Session*@
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor
@using Sitio.Utility; @* Codigo para facilitar seleccion de Layout para Views *@

@{
    ViewBag.Title = "Visualizar Grupo";

    var UsuarioLogueado = Accessor.HttpContext.Session.GetObjectFromJson<Usuario>("UsuarioLog");

    Layout = LayoutForViewHelper.GetLayoutForView(UsuarioLogueado);
}

<div class="row mb-3">
    <div class="col-6">
        <h2 class="font-weight-bold">Visualizar Grupo</h2>
    </div>

</div>



<hr /> @*Separador ============================================================================================*@

<div class="row mt-4">
    <div class="col-3">
        <dl class="dl-horizontal">

            <dt class="mb-3">
                @Html.DisplayNameFor(model => model.Codigo):
            </dt>

        </dl>
    </div>
    <div class="col-3">
        <dl class="dl-horizontal">

            <dd class="mb-3">
                @Html.DisplayFor(model => model.Codigo)
            </dd>

        </dl>
    </div>
</div>

<div class="row mt-2">
    <div class="col-3">
        <dl class="dl-horizontal">

            <dt class="mb-3">
                @*@Html.DisplayNameFor(model => model.NombreGrupo)*@
                Nombre grupo:
            </dt>

        </dl>
    </div>
    <div class="col-3">
        <dl class="dl-horizontal">

            <dd class="mb-3">
                @Html.DisplayFor(model => model.NombreGrupo)
            </dd>

        </dl>
    </div>
</div>

<div class="row mt-2">
    <div class="col-3">
        <dl class="dl-horizontal">

            <dt class="mb-3">
                @Html.DisplayNameFor(model => model.Descripcion):
            </dt>

        </dl>
    </div>
    <div class="col-3">
        <dl class="dl-horizontal">

            <dd class="mb-3">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

        </dl>
    </div>
</div>








<dl class="dl-horizontal mt-2">
       
    @*Listado Dispositivos*@
    <dt>
        @Html.DisplayNameFor(model => model.Dispositivos):
    </dt>

    <dd>
        <div class="col-md-10 pt-3 pl-0">

            @*<h4>Dispositivos asociados</h4>*@

            <table id="example" class="table table-striped table-hover border" style="width:100%">

                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Dispositivos[0].IP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Dispositivos[0].Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Dispositivos[0].Tipo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Dispositivos[0].Sector)
                    </th>
                </tr>


                @foreach (var item in Model.Dispositivos)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.IP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sector)
                        </td>
                    </tr>
                }

            </table>

        </div>

    </dd>

</dl>







<script src="~/js/estandar.js"></script>

