@model IEnumerable<Sitio.Models.EscaneoPuertos>

@*Necesarios para utilizar la Session*@
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor
@using Sitio.Utility; @* Codigo para facilitar seleccion de Layout para Views *@

@{
    ViewBag.Title = "Escaneo de Puertos";

    //Quito esto y using de session?
    var UsuarioLogueado = Accessor.HttpContext.Session.GetObjectFromJson<Usuario>("UsuarioLog");

    Layout = LayoutForViewHelper.GetLayoutForView(UsuarioLogueado);
}



<div class="row mb-3">
    <div class="col-6">
        <h2 class="font-weight-bold">Escaneo de puertos</h2>
    </div>

    <div class="col-6 text-right">
        <a href="@Url.Action("FormEscaneoPuertosGenerar", "EscaneoPuertos")" title="Generar Escaneo de puertos">
            <img alt="Generar Escaneo de puertos" src="@Url.Content("~/Imagenes/agregar.png")" width="40" height="40">
        </a>
    </div>
</div>


@if (!string.IsNullOrEmpty(@ViewBag.MensajeAccion))
{
    <div class="alert alert-success" role="alert">
        @ViewBag.MensajeAccion
    </div>
}

@if (!string.IsNullOrEmpty(@ViewBag.MensajeError))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.MensajeError
    </div>
}


<table class="table">
    <tr>
        <th class="text-center">
            @* @Html.DisplayNameFor(model => model.IDEscaneo) *@
            ID
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.DispositivoObjetivo.IP)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Prioridad)
        </th>
        <th class="text-center">
            @* @Html.DisplayNameFor(model => model.FechaGenerado) *@
            Generado
        </th>
        <th class="text-center">
            @* @Html.DisplayNameFor(model => model.FechaFinalizado) *@
            Finalizado
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.AdministradorReg.UsuarioID)
        </th>

        <th width="160px" class="text-center">
            Acciones
        </th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.IDEscaneo)
            </td>

            <td class="text-center">
                @Html.DisplayFor(modelItem => item.DispositivoObjetivo.IP)
            </td>

            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Estado)
            </td>

            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Prioridad)
            </td>

            <td class="text-center">
                @Html.DisplayFor(modelItem => item.FechaGenerado)
            </td>

            <td class="text-center">
                @if (item.FechaFinalizado != null)
                {
                    @Html.DisplayFor(modelItem => item.FechaFinalizado)
                }
                else
                {
                    <text> - - - </text>
                }
            </td>

            <td class="text-center">
                @Html.DisplayFor(modelItem => item.AdministradorReg.UsuarioID)
            </td>

            <td class="text-center">

                @* <a href="@Url.Action("FormAnalisisRedCancelar", "AnalisisRed", new {item.IDAnalisis} )" title="Cancelar" class="text-decoration-none">
            <img alt="Cancelar" src="@Url.Content("~/Imagenes/eliminar.png")" width="30" height="30">
            </a>*@

                <a href="@Url.Action("FormEscaneoPuertosVisualizar", "EscaneoPuertos", new { item.IDEscaneo } )" title="Visualizar" class="text-decoration-none">
                    <img alt="Ver" src="@Url.Content("~/Imagenes/ver.png")" width="30" height="30">
                </a>

                @if (item.Estado == "Finalizado")
                {
                    <span class="text-success">Resuelto</span>
                }
                else if (item.Estado == "Cancelado")
                {
                    <span class="text-danger">Resuelto</span>
                }
                else
                {
                    @Html.ActionLink("Cancelar", "EscaneoPuertosCancelar", "EscaneoPuertos", new { idEscaneo = item.IDEscaneo }, new { @class = "btn btn-danger" })
                }

            </td>
        </tr>
    }

</table>

<hr class="pb-2" />

<div class="alert alert-primary" role="alert">
    @ViewBag.Mensaje
</div>



<script src="~/js/estandar.js"></script>