@model IEnumerable<Sitio.Models.Dispositivo>


<div id="tablaDispositivosContainer">
<table class="table">
    <tr class="table-header">
        <th class="text-center">
            @Html.DisplayNameFor(model => model.IP)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Conectado)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Accesible)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Sector)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Prioridad)
        </th>

        <th width="160px" class="text-center">
            Acciones
        </th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.IP)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>


            <td class="text-center">
                @if (item.Conectado)
                {
                    <span class="text-success">Online</span>
                }
                else
                {
                    <span class="text-danger">Offline</span>
                }
            </td>


            <td class="text-center">
                @if (item.Accesible)
                {
                    <span class="text-success">Si</span>
                }
                else
                {
                    <span class="text-danger">No</span>
                }
            </td>


            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Sector)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Prioridad)
            </td>


            <td class="text-center">

                <a href="@Url.Action("FormDispositivoBuscar", "Dispositivos", new { item.IP} )" title="Visualizar" class="text-decoration-none">
                    <img alt="Ver" src="@Url.Content("~/Imagenes/ver.png")" width="30" height="30">
                </a>

@*                 <a href="@Url.Action("FormReporteAgregar", "Reportes", new { item.IP} )" title="Generar Reporte?" class="text-decoration-none">
                    <img alt="Generar Reporte" src="@Url.Content("~/Imagenes/correo.png")" width="30" height="30">
                </a> *@

                <a href="@Url.Action("FormDispositivoModificar", "Dispositivos", new { item.IP} )" title="Modificar" class="text-decoration-none">
                    <img alt="Modificar" src="@Url.Content("~/Imagenes/modificar.png")" width="30" height="30">
                </a>


                <a href="@Url.Action("FormDispositivoEliminar", "Dispositivos", new { item.IP} )" title="Eliminar" class="text-decoration-none">
                    <img alt="Eliminar" src="@Url.Content("~/Imagenes/eliminar.png")" width="30" height="30">
                </a>

            </td>
        </tr>
    }

</table>
</div>