@model Sitio.Models.Reporte

@*Necesarios para utilizar la Session*@
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor
@using Sitio.Utility; @* Codigo para facilitar seleccion de Layout para Views *@


@{
    ViewBag.Title = "Modificar Reporte";

    var UsuarioLogueado = Accessor.HttpContext.Session.GetObjectFromJson<Usuario>("UsuarioLog");

    Layout = LayoutForViewHelper.GetLayoutForView(UsuarioLogueado);

}



<h2 class="font-weight-bold mb-4">Modificar Reporte</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr /> @*---------------------------------------------------------------------------------------------------*@

        <div class="form-group">
            @Html.LabelFor(model => model.Codigo, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
            <div class="col-md-10">
                @*<div class="form-control">@Html.DisplayFor(model => model.Codigo)</div>*@
                @Html.DisplayFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.Codigo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MailOrigen.Correo, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.MailOrigen.Correo, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>


        @*Prueba ---------------------------------------------------------------------------------*@
        <div class="form-group">
            @Html.Label(null ,"Dispositivo", htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
            @*@Html.LabelFor(model => model.UbSucursal, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })*@

            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DispositivoAsociado.IP, (SelectList)ViewBag.DispositivosDisp)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Asunto, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Asunto, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Destino, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Destino, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mensaje, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mensaje, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <hr /> @*---------------------------------------------------------------------------------------------------*@

        @if (!string.IsNullOrEmpty(@ViewBag.Mensaje))
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.Mensaje
            </div>
        }


        <div class="form-group mt-2">
            <div class="col-md-offset-2 col-md-10 text-center">
                <input type="submit" value="Modificar" class="btn btn-success" />
            </div>
        </div>

    </div>
}



<script src="~/js/estandar.js"></script>

