@model Sitio.Models.Reporte


@*Necesarios para utilizar la Session*@
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor
@using Sitio.Utility; @* Codigo para facilitar seleccion de Layout para Views *@

@{
    ViewBag.Title = "Eliminar Reporte";

    var UsuarioLogueado = Accessor.HttpContext.Session.GetObjectFromJson<Usuario>("UsuarioLog");

    Layout = LayoutForViewHelper.GetLayoutForView(UsuarioLogueado);
}


<div class="row mb-3">
    <div class="col-6">
        <h2 class="font-weight-bold">Eliminar Reporte</h2>
    </div>

</div>

<hr /> @*Separador ============================================================================================*@


@if (!string.IsNullOrEmpty(@ViewBag.Mensaje))
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Mensaje
    </div>
}




<div class="row mt-4">
    <div class="col-3">
        <dl class="dl-horizontal">

            <dt class="mb-3">
                @Html.DisplayNameFor(model => model.Codigo)
            </dt>

            <dt class="mb-3">
                @Html.DisplayNameFor(model => model.MailOrigen.Correo)
            </dt>

            <dt class="mb-3">
                @Html.DisplayNameFor(model => model.DispositivoAsociado.IP)
            </dt>

            <dt class="mb-3">
                @Html.DisplayNameFor(model => model.Asunto)
            </dt>

            <dt class="mb-3">
                @Html.DisplayNameFor(model => model.Destino)
            </dt>

            <dt class="mb-3">
                @Html.DisplayNameFor(model => model.Mensaje)
            </dt>

        </dl>
    </div>

    <div class="col-3">
        <dl class="dl-horizontal">

            <dd class="mb-3">
                @Html.DisplayFor(model => model.Codigo)
            </dd>

            <dd class="mb-3">
                @Html.DisplayFor(model => model.MailOrigen.Correo)
            </dd>

            <dd class="mb-3">
                @Html.DisplayFor(model => model.DispositivoAsociado.IP)
            </dd>

            <dd class="mb-3">
                @Html.DisplayFor(model => model.Asunto)
            </dd>

            <dd class="mb-3">
                @Html.DisplayFor(model => model.Destino)
            </dd>

            <dd class="mb-3">
                @Html.DisplayFor(model => model.Mensaje)
            </dd>

        </dl>
    </div>
</div>

<hr /> @*Separador ============================================================================================*@

<div class="alert alert-danger mt-3 mb-3">
    ¿Esta seguro de que desea eliminar este Reporte?
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group mt-2">
        <div class="col-md-offset-2 col-md-10 text-center">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
    </div>
}



<script src="~/js/estandar.js"></script>
