@model Sitio.Models.Reporte

@*Necesarios para utilizar la Session*@
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor
@using Sitio.Utility; @* Codigo para facilitar seleccion de Layout para Views *@


@{
    ViewBag.Title = "Visualizar Reporte";

    var UsuarioLogueado = Accessor.HttpContext.Session.GetObjectFromJson<Usuario>("UsuarioLog");

    Layout = LayoutForViewHelper.GetLayoutForView(UsuarioLogueado);
}


<div class="d-flex">
    <div class="mr-4">
        <h2 class="font-weight-bold">Visualizar Reporte</h2>
    </div>
</div>


<div>
    <hr />

    <div class="row mt-4">
        <div class="col-3">
            <dl class="dl-horizontal">

                <dt class="mb-3">
                    @Html.DisplayNameFor(model => model.Codigo):
                </dt>

            </dl>
        </div>
        <div class="col-3">
            <dl class="dl-horizontal">

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.Codigo)
                </dd>

            </dl>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-3">
            <dl class="dl-horizontal">

                <dt class="mb-3">
                    @Html.DisplayNameFor(model => model.MailOrigen.Correo):
                </dt>

            </dl>
        </div>
        <div class="col-3">
            <dl class="dl-horizontal">

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.MailOrigen.Correo)
                </dd>

            </dl>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-3">
            <dl class="dl-horizontal">

                <dt class="mb-3">
                    Direccion IP:
                    @*@Html.DisplayNameFor(model => model.DispositivoAsociado.IP)*@
                </dt>

            </dl>
        </div>
        <div class="col-3">
            <dl class="dl-horizontal">

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.DispositivoAsociado.IP)
                </dd>

            </dl>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-3">
            <dl class="dl-horizontal">

                <dt class="mb-3">
                    @Html.DisplayNameFor(model => model.Asunto):
                </dt>

            </dl>
        </div>
        <div class="col-3">
            <dl class="dl-horizontal">

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.Asunto)
                </dd>

            </dl>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-3">
            <dl class="dl-horizontal">

                <dt class="mb-3">
                    @Html.DisplayNameFor(model => model.Destino):
                </dt>

            </dl>
        </div>
        <div class="col-3">
            <dl class="dl-horizontal">

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.Destino)
                </dd>

            </dl>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-3">
            <dl class="dl-horizontal">

                <dt class="mb-3">
                    @Html.DisplayNameFor(model => model.Mensaje):
                </dt>

            </dl>
        </div>
        <div class="col-3">
            <dl class="dl-horizontal">

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.Mensaje)
                </dd>

            </dl>
        </div>
    </div>


</div>



<script src="~/js/estandar.js"></script>