@model IEnumerable<Sitio.Models.AnalisisRed>

@*Necesarios para utilizar la Session*@
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor
@using Sitio.Utility; @* Codigo para facilitar seleccion de Layout para Views *@

@{
    ViewBag.Title = "Analisis de Red";

    //Quito esto y using de session?
    var UsuarioLogueado = Accessor.HttpContext.Session.GetObjectFromJson<Usuario>("UsuarioLog");

    Layout = LayoutForViewHelper.GetLayoutForView(UsuarioLogueado);
}



<div class="row mb-3">
    <div class="col-6">
        <h2 class="font-weight-bold">Analisis de Red</h2>
    </div>

    <div class="col-6 text-right">
        <a href="@Url.Action("FormAnalisisRedGenerar", "AnalisisRed")" title="Generar Analisis de Red">
            <img alt="Generar Analisis de Red" src="@Url.Content("~/Imagenes/agregar.png")" width="40" height="40">
        </a>
    </div>
</div>


@if (!string.IsNullOrEmpty(@ViewBag.MensajeAccion))
{
    <div class="alert alert-success" role="alert">
        @ViewBag.MensajeAccion
    </div>
}

@if (!string.IsNullOrEmpty(@ViewBag.MensajeError))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.MensajeError
    </div>
}


<table class="table">
    <tr>
        <th class="text-center">
             @*@Html.DisplayNameFor(model => model.IDAnalisis)*@
             ID
        </th>
        <th class="text-center">
            @* @Html.DisplayNameFor(model => model.SubredAnalizada) *@
            Subred
        </th>

        @*<th>
            @Html.DisplayNameFor(model => model.Razon)
        </th>*@

        <th class="text-center">
            @Html.DisplayNameFor(model => model.Estado)
        </th>

        @*<th>
            @Html.DisplayNameFor(model => model.Prioridad)
        </th>*@

        <th class="text-center">
            @*@Html.DisplayNameFor(model => model.NuevosDispositivos)*@
            Nuevos dispositivos
        </th>

        <th class="text-center">
            @*@Html.DisplayNameFor(model => model.FechaGenerado)*@
            Generado
        </th>

        <th class="text-center">
            @* @Html.DisplayNameFor(model => model.FechaFinalizado)*@
            Finalizado
        </th>

        <th class="text-center">
             @Html.DisplayNameFor(model => model.AdministradorReg.UsuarioID)
        </th>

        <th width="160px" class="text-center">
            Acciones
        </th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.IDAnalisis)
            </td>

            <td class="text-center">
                @Html.DisplayFor(modelItem => item.SubredAnalizada)
            </td>

            @*<td class="text-center">
                @Html.DisplayFor(modelItem => item.Razon)
            </td>*@

            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Estado)
            </td>

            @*<td class="text-center">
                @Html.DisplayFor(modelItem => item.Prioridad)
            </td>*@

            <td class="text-center">
                @Html.DisplayFor(modelItem => item.NuevosDispositivos)
            </td>

            <td class="text-center">
                @Html.DisplayFor(modelItem => item.FechaGenerado)
            </td>

            <td class="text-center">
                @if (item.FechaFinalizado != null)
                {
                    @Html.DisplayFor(modelItem => item.FechaFinalizado)
                }
                else
                {
                    <text> - - - </text>
                }
            </td>

            <td class="text-center">
                @Html.DisplayFor(modelItem => item.AdministradorReg.UsuarioID)
            </td>

            <td class="text-center">

                @* <a href="@Url.Action("FormAnalisisRedCancelar", "AnalisisRed", new {item.IDAnalisis} )" title="Cancelar" class="text-decoration-none">
            <img alt="Cancelar" src="@Url.Content("~/Imagenes/eliminar.png")" width="30" height="30">
            </a>*@

                <a href="@Url.Action("FormAnalisisRedVisualizar", "AnalisisRed", new { item.IDAnalisis } )" title="Visualizar" class="text-decoration-none">
                    <img alt="Ver" src="@Url.Content("~/Imagenes/ver.png")" width="30" height="30">
                </a>

                @if (item.Estado == "Finalizado")
                {
                    <span class="text-success">Resuelto</span>
                }
                else if (item.Estado == "Cancelado")
                {
                    <span class="text-danger">Resuelto</span>
                }
                else
                {
                    @Html.ActionLink("Cancelar", "AnalisisRedCancelar", "AnalisisRed", new { idAnalisis = item.IDAnalisis }, new { @class = "btn btn-danger" })
                }

            </td>
        </tr>
    }

</table>

<hr class="pb-2" />

<div class="alert alert-primary" role="alert">
    @ViewBag.Mensaje
</div>



<script src="~/js/estandar.js"></script>