@model Sitio.Models.AnalisisRed

@*Necesarios para utilizar la Session*@
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor
@using Sitio.Utility; @* Codigo para facilitar seleccion de Layout para Views *@

@{
    ViewBag.Title = "Visualizar Analisis de Red";

    var UsuarioLogueado = Accessor.HttpContext.Session.GetObjectFromJson<Usuario>("UsuarioLog");

    Layout = LayoutForViewHelper.GetLayoutForView(UsuarioLogueado);
}

<div class="row mb-3">
    <div class="col-6">
        <h2 class="font-weight-bold">Visualizar Analisis de Red</h2>
    </div>

</div>

<div>
    
    <hr />

    <div class="row mt-4">
        <div class="col-3">
            <dl class="dl-horizontal">

                <dt class="mb-3">
                    @Html.DisplayNameFor(model => model.IDAnalisis):
                </dt>

            </dl>
        </div>
        <div class="col-3">
            <dl class="dl-horizontal">

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.IDAnalisis)
                </dd>

            </dl>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-3">
            <dl class="dl-horizontal">

                <dt class="mb-3">
                    @* @Html.DisplayNameFor(model => model.SubredAnalizada): *@
                    Subred analizada:
                </dt>

            </dl>
        </div>
        <div class="col-3">
            <dl class="dl-horizontal">

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.SubredAnalizada)
                </dd>

            </dl>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-3">
            <dl class="dl-horizontal">

                <dt class="mb-3">
                    @Html.DisplayNameFor(model => model.Razon):
                </dt>

            </dl>
        </div>
        <div class="col-3">
            <dl class="dl-horizontal">

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.Razon)
                </dd>

            </dl>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-3">
            <dl class="dl-horizontal">

                <dt class="mb-3">
                    @Html.DisplayNameFor(model => model.Estado):
                </dt>

            </dl>
        </div>
        <div class="col-3">
            <dl class="dl-horizontal">

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.Estado)
                </dd>

            </dl>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-3">
            <dl class="dl-horizontal">

                <dt class="mb-3">
                    @Html.DisplayNameFor(model => model.Prioridad):
                </dt>

            </dl>
        </div>
        <div class="col-3">
            <dl class="dl-horizontal">

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.Prioridad)
                </dd>

            </dl>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-3">
            <dl class="dl-horizontal">

                <dt class="mb-3">
                    Nuevos dispositivos:
                </dt>

            </dl>
        </div>
        <div class="col-3">
            <dl class="dl-horizontal">

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.NuevosDispositivos)
                </dd>

            </dl>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-3">
            <dl class="dl-horizontal">

                <dt class="mb-3">
                    Fecha generado:
                </dt>

            </dl>
        </div>
        <div class="col-3">
            <dl class="dl-horizontal">

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.FechaGenerado)
                </dd>

            </dl>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-3">
            <dl class="dl-horizontal">

                <dt class="mb-3">
                    Fecha finalizado:
                </dt>

            </dl>
        </div>
        <div class="col-3">
            <dl class="dl-horizontal">

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.FechaFinalizado)
                </dd>

            </dl>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-3">
            <dl class="dl-horizontal">

                <dt class="mb-3">
                    Creador:
                </dt>

            </dl>
        </div>
        <div class="col-3">
            <dl class="dl-horizontal">

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.AdministradorReg.UsuarioID)
                </dd>

            </dl>
        </div>
    </div>


</div>



<script src="~/js/estandar.js"></script>
