@model Sitio.Models.AnalisisRed

@*Necesarios para utilizar la Session*@
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor
@using Sitio.Utility; @* Codigo para facilitar seleccion de Layout para Views *@

@{
    ViewBag.Title = "Visualizar Analisis de Red";

    var UsuarioLogueado = Accessor.HttpContext.Session.GetObjectFromJson<Usuario>("UsuarioLog");

    Layout = LayoutForViewHelper.GetLayoutForView(UsuarioLogueado);
}


<h2 class="font-weight-bold mb-4">Visualizar Analisis de Red</h2>



<hr /> @*Separador ============================================================================================*@


<div class="row mt-4">

    <div class="col-12 col-md-3 font-weight-bold mb-1 mb-md-0">
        @Html.DisplayNameFor(model => model.IDAnalisis):
    </div>

    <div class="col-12 col-md-3">
        @Html.DisplayFor(model => model.IDAnalisis)
    </div>

</div>

<div class="row mt-2">

    <div class="col-12 col-md-3 font-weight-bold mb-1 mb-md-0">
        @* @Html.DisplayNameFor(model => model.SubredAnalizada): *@
        Subred analizada:
    </div>

    <div class="col-12 col-md-3">
        @Html.DisplayFor(model => model.SubredAnalizada)
    </div>

</div>

<div class="row mt-2">

    <div class="col-12 col-md-3 font-weight-bold mb-1 mb-md-0">
        @Html.DisplayNameFor(model => model.Razon):
    </div>

    <div class="col-12 col-md-3">
        @Html.DisplayFor(model => model.Razon)
    </div>

</div>

<div class="row mt-2">

    <div class="col-12 col-md-3 font-weight-bold mb-1 mb-md-0">
        @Html.DisplayNameFor(model => model.Estado):
    </div>

    <div class="col-12 col-md-3">
        @Html.DisplayFor(model => model.Estado)
    </div>

</div>

<div class="row mt-2">

    <div class="col-12 col-md-3 font-weight-bold mb-1 mb-md-0">
        @Html.DisplayNameFor(model => model.Prioridad):
    </div>

    <div class="col-12 col-md-3">
        @Html.DisplayFor(model => model.Prioridad)
    </div>

</div>

<div class="row mt-2">

    <div class="col-12 col-md-3 font-weight-bold mb-1 mb-md-0">
        Nuevos dispositivos:
    </div>

    <div class="col-12 col-md-3">
        @Html.DisplayFor(model => model.NuevosDispositivos)
    </div>

</div>

<div class="row mt-2">

    <div class="col-12 col-md-3 font-weight-bold mb-1 mb-md-0">
        Fecha generado:
    </div>

    <div class="col-12 col-md-3">
        @Html.DisplayFor(model => model.FechaGenerado)
    </div>

</div>

<div class="row mt-2">

    <div class="col-12 col-md-3 font-weight-bold mb-1 mb-md-0">
        Fecha finalizado:
    </div>

    <div class="col-12 col-md-3">
        @Html.DisplayFor(model => model.FechaFinalizado)
    </div>

</div>

<div class="row mt-2">

    <div class="col-12 col-md-3 font-weight-bold mb-1 mb-md-0">
        Creador:
    </div>

    <div class="col-12 col-md-3">
        @Html.DisplayFor(model => model.AdministradorReg.UsuarioID)
    </div>

</div>




<script src="~/js/estandar.js"></script>
