@model IEnumerable<Sitio.Models.Sucursal>

@*Necesarios para utilizar la Session*@
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor
@using Sitio.Utility; @* Codigo para facilitar seleccion de Layout para Views *@

@{
    ViewBag.Title = "Listado de Sucursales";

    //Quito esto y using de session?
    var UsuarioLogueado = Accessor.HttpContext.Session.GetObjectFromJson<Usuario>("UsuarioLog");

    Layout = LayoutForViewHelper.GetLayoutForView(UsuarioLogueado);
}



<div class="row mb-3">
    <div class="col-6">
        <h2 class="font-weight-bold">Listado de Sucursales</h2>
    </div>

    <div class="col-6 text-right">
        <a href="@Url.Action("FormSucursalAgregar", "Sucursales")" title="Nueva Sucursal">
            <img alt="Agregar" src="@Url.Content("~/Imagenes/agregar.png")" width="40" height="40">
        </a>
    </div>
</div>



@if (!string.IsNullOrEmpty(@ViewBag.MensajeAccion))
{
    <div class="alert alert-success" role="alert">
        @ViewBag.MensajeAccion
    </div>
}

@if (!string.IsNullOrEmpty(@ViewBag.MensajeError))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.MensajeError
    </div>
}



<table class="table">
    <tr>
        <th class="text-center">
            @*@Html.DisplayNameFor(model => model.NroSucursal)*@
            Numero sucursal
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Departamento)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Calle)
        </th>
        <th class="text-center">
            @*@Html.DisplayNameFor(model => model.NumeroLocal)*@
            Numero local
        </th>

        <th width="160px" class="text-center">
            Acciones
        </th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.NroSucursal)
            </td>

            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>

            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Departamento)
            </td>

            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Calle)
            </td>

            <td class="text-center">
                @Html.DisplayFor(modelItem => item.NumeroLocal)
            </td>

            <td class="text-center">

                <a href="@Url.Action("FormSucursalModificar", "Sucursales", new { item.NroSucursal} )" title="Modificar" class="text-decoration-none">
                    <img alt="Modificar" src="@Url.Content("~/Imagenes/modificar.png")" width="30" height="30">
                </a>

                <a href="@Url.Action("FormSucursalEliminar", "Sucursales", new {item.NroSucursal} )" title="Eliminar" class="text-decoration-none">
                    <img alt="Eliminar" src="@Url.Content("~/Imagenes/eliminar.png")" width="30" height="30">
                </a>

            </td>
        </tr>
    }

</table>

<hr class="pb-2" />

<div class="alert alert-primary" role="alert">
    @ViewBag.Mensaje
</div>



<script src="~/js/estandar.js"></script>