@model Sitio.Models.Administrador

@*Necesarios para utilizar la Session*@
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor

@using Sitio.Utility; @* Codigo para facilitar seleccion de Layout para Views *@

@{
    ViewBag.Title = "Agregar Administrador";

    var UsuarioLogueado = Accessor.HttpContext.Session.GetObjectFromJson<Usuario>("UsuarioLog");

    Layout = LayoutForViewHelper.GetLayoutForView(UsuarioLogueado);
}



<h2 class="font-weight-bold mb-4">Agregar Administrador</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.UsuarioID, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UsuarioID, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contraseña, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contraseña, new { htmlAttributes = new { @class = "form-control", type = "password" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2 font-weight-bold">Confirmar contraseña</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmContra, new { htmlAttributes = new { @class = "form-control", type = "password" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MailAsignado.Correo, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.MailAsignado.Correo, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        @*Prueba ---------------------------------------------------------------------------------
         <div class="form-group">
            @Html.Label(null ,"Correos disponibles", htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
            QuitarEstaLinea @Html.LabelFor(model => model.UbSucursal, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })

            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MailAsignado.Correo, (SelectList)ViewBag.CorreosDisp)

            </div>
        </div>*@


        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.NumeroFuncionario, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })*@
            
            <label class="control-label col-md-2 font-weight-bold">Numero de funcionario</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroFuncionario, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cargo, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cargo, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <hr class="pb-2 pt-2" />

        
        @if (!string.IsNullOrEmpty(@ViewBag.Mensaje))
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.Mensaje
            </div>
        }


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-center">
                <input type="submit" value="Agregar" class="btn btn-success" />
            </div>
        </div>

    </div>
}


<script src="~/js/estandar.js"></script>
