@model Sitio.Models.Administrador

@*Necesarios para utilizar la Session*@
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor
@using Sitio.Utility; @* Codigo para facilitar seleccion de Layout para Views *@

@{
    ViewBag.Title = "Visualizar Administrador";

    var UsuarioLogueado = Accessor.HttpContext.Session.GetObjectFromJson<Usuario>("UsuarioLog");

    Layout = LayoutForViewHelper.GetLayoutForView(UsuarioLogueado);

    string contraseñaOculta = new string('*', Model.Contraseña.Length);
}


<div class="row mb-3">
    <div class="col-6">
        <h2 class="font-weight-bold">Visualizar Administrador</h2>
    </div>
</div>

<hr /> @*Separador ============================================================================================*@

<div class="mt-4 mb-4">
    <h4 class="font-weight-bold">Informacion de Administrador</h4>
</div>

<div>

    <div class="row mt-2">
        <div class="col-3">
            <dl class="dl-horizontal">

                <dt class="mb-3">
                    @Html.DisplayNameFor(model => model.UsuarioID):
                </dt>

            </dl>
        </div>
        <div class="col-3">
            <dl class="dl-horizontal">

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.UsuarioID)
                </dd>

            </dl>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-3">
            <dl class="dl-horizontal">

                <dt class="mb-3">
                    @Html.DisplayNameFor(model => model.Contraseña):
                </dt>

            </dl>
        </div>
        <div class="col-3">
            <dl class="dl-horizontal">

                <dd class="mb-3">
                    @contraseñaOculta
                    @* @Html.DisplayFor(model => model.Contraseña) *@
                </dd>

            </dl>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-3">
            <dl class="dl-horizontal">

                <dt class="mb-3">
                    @Html.DisplayNameFor(model => model.MailAsignado.Correo):
                </dt>

            </dl>
        </div>
        <div class="col-3">
            <dl class="dl-horizontal">

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.MailAsignado.Correo)
                </dd>

            </dl>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-3">
            <dl class="dl-horizontal">

                <dt class="mb-3">
                    @Html.DisplayNameFor(model => model.Nombre):
                </dt>

            </dl>
        </div>
        <div class="col-3">
            <dl class="dl-horizontal">

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

            </dl>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-3">
            <dl class="dl-horizontal">

                <dt class="mb-3">
                    @*@Html.DisplayNameFor(model => model.NumeroFuncionario)*@
                    Numero funcionario:
                </dt>

            </dl>
        </div>
        <div class="col-3">
            <dl class="dl-horizontal">

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.NumeroFuncionario)
                </dd>

            </dl>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-3">
            <dl class="dl-horizontal">

                <dt class="mb-3">
                    @Html.DisplayNameFor(model => model.Cargo):
                </dt>

            </dl>
        </div>
        <div class="col-3">
            <dl class="dl-horizontal">

                <dd class="mb-3">
                    @Html.DisplayFor(model => model.Cargo)
                </dd>

            </dl>
        </div>
    </div>


</div>



<script src="~/js/estandar.js"></script>
